.body {
    max-width: 700px !important;
}

.valid {
    color: greenyellow;
}

.invalid {
    color: #f84174;
}

.form-text {
    font-size: 12px;
}

.mensajes {
    line-height: 1;
    margin-bottom: 5px;
}

.gris{
    color: #f1f1f1;
}